#!jinja2

#Include settings (mainly the list of recipes for now)
%include settings.rc

[meta]
	title = Magic pre-calculated metric set
[cylc]
	cycle point format = %Y-%m
[scheduling]
	initial cycle point = 2019-03
	final cycle point = 2019-03
	[[special tasks]]
		clock-trigger = RECIPES
	[[dependencies]]
		[[[ P1M ]]]
			graph = RECIPES
[runtime]
	[[RECIPES]]
		[[[directives]]]
	            	-q = par-single
           		-W = 05:00
            		-n = 10
		[[[job]]]
			#execution retry delays = 3 * PT6S
           		batch system = lsf

{% for i in recipes %}
	[[{{ i|replace(".", "_")|replace("/", "-")}}]]
		inherit = RECIPES
		script = magic-esmvaltool.sh {{i}}
{% endfor %}
